## Settings file was created by plugin SkillFloors v1.2.2
## Plugin GUID: Armikur.mod.Valheim.SkillFloors

[Client Config]

## Shows each skill floor increase in the BepInEx window.
# Setting type: Boolean
# Default value: false
Enable Debug Logging = false

[Server Config]

## Multiplier for how much XP floor skills gain relative to regular skills (e.g., 0.15 = 15%). Values over 1 will give more XP than normal; helpful for catching up.
# Setting type: Single
# Default value: 0.15
# Acceptable value range: From 0 to 1,5
Floor XP Gain Rate = 0.15

