## Settings file was created by plugin VikingSails v1.1.5
## Plugin GUID: Azumatt.VikingSails

[1 - General]

## If on, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

## A toggle that when turned on, sets all ship sails to use the Server Sail URL. [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Server Sail URL = Off

## Put a valid image URL here, this entry field should contain the URL of the image to use for the sails when the `Use Server Sail URL` toggle is on. [Synced with Server]
# Setting type: String
# Default value: https://i.imgur.com/TbcJ3LU.png
Server Sail URL = https://i.imgur.com/TbcJ3LU.png

## A keyboard shortcut that allows the player to interact with the ship to change the sail image [Not Synced with Server]
# Setting type: KeyboardShortcut
# Default value: Mouse1
Edit Key = Mouse1

## A toggle that when turned on, requires the player to hold down the `Edit Key` <Mouse1> in order to interact with the ship to change the sails. [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Require Key Press = Off

## A toggle that when turned on, will show the URL after the interaction prompt so you might see the URL at quick glance. Note only will show to you if you have access to change the URL [Not Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Show URL On Hover = Off

