[Body Parts]

## List of body parts to hide, delimited by a semilocor. List of valid values on mod page
# Setting type: String
# Default value: 
List = Head

## List of bone indexes, body model geometry weighted to these bones will be hidden, delimited by a semilocor. List of valid values on mod page
# Setting type: String
# Default value: 
Bone List = 

