## Settings file was created by plugin HammerTime v0.3.11
## Plugin GUID: com.maxsch.valheim.HammerTime

[1 - General]

## Disables crafting recipes of custom hammers that are enabled in this mod. Only deactivates the recipes, existing items will not be removed. Can be changed at runtime.
# Setting type: Boolean
# Default value: true
Disable Hammer Recipes = true

[Advanced Portals _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = Advanced Portals

Category Name Misc = Advanced Portals Misc

[BalrondContainers _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = BalrondContainers

Category Name Furniture = BalrondContainers Furniture

[BalrondShipyard _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = BalrondShipyard

Category Name Crafting = BalrondShipyard Crafting

Category Name Misc = BalrondShipyard Misc

Category Name BuildingWorkbench = BalrondShipyard BuildingWorkbench

Category Name Furniture = BalrondShipyard Furniture

[Clutter _ClutterPieceTable]

Enable Hammer = true

Combine Categories = false

Combined Category Name = Clutter

Category Name Decor = Clutter Decor

Category Name Amenities = Clutter Amenities

Category Name Kitchen = Clutter Kitchen

Category Name Sculptures = Clutter Sculptures

[CraftyCarts _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = CraftyCarts

Category Name Crafty Carts = CraftyCarts Crafty Carts

[CrystalLights _CrystalHammer_Table]

Enable Hammer = true

Combine Categories = false

Combined Category Name = CrystalLights

Category Name Furniture = CrystalLights Furniture

Category Name Crl = CrystalLights Crl

Category Name Misc = CrystalLights Misc

Category Name Crystal Lights = CrystalLights Crystal Lights

[EpicMMOSystem _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = EpicMMOSystem

Category Name Crafting = EpicMMOSystem Crafting

[GBCustomTable _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = GBCustomTable

Category Name Crafting = GBCustomTable Crafting

[Inventory Patch Detector ValheimVehicles_HammerTable]

Enable Hammer = true

Combine Categories = false

Combined Category Name = Inventory Patch Detector

Category Name Vehicles = Inventory Patch Detector Vehicles

Category Name Propulsion = Inventory Patch Detector Propulsion

Category Name Power = Inventory Patch Detector Power

Category Name Tools = Inventory Patch Detector Tools

Category Name Hull = Inventory Patch Detector Hull

Category Name Structure = Inventory Patch Detector Structure

Category Name Deprecated = Inventory Patch Detector Deprecated

[Jewelcrafting _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = Jewelcrafting

Category Name Crafting = Jewelcrafting Crafting

[Lumberyard _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = Lumberyard

Category Name Crafting = Lumberyard Crafting

[MissingPieces _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = MissingPieces

Category Name BuildingWorkbench = MissingPieces BuildingWorkbench

Category Name BuildingStonecutter = MissingPieces BuildingStonecutter

Category Name Furniture = MissingPieces Furniture

[OdinBanners _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = OdinBanners

Category Name Furniture = OdinBanners Furniture

[OdinCampsite _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = OdinCampsite

Category Name Misc = OdinCampsite Misc

[OdinOnDemand _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = OdinOnDemand

Category Name OOD = OdinOnDemand OOD

[OdinShip _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = OdinShip

Category Name OdinShip = OdinShip OdinShip

[PlanBuild _BlueprintPieceTable]

Enable Hammer = false

Combine Categories = false

Combined Category Name = PlanBuild

Category Name Tools = PlanBuild Tools

[PlanBuild _HammerPieceTable]

Enable Hammer = false

Combine Categories = false

Combined Category Name = PlanBuild

Category Name BuildingStonecutter = PlanBuild BuildingStonecutter

Category Name Misc = PlanBuild Misc

[PlanBuild _PlanHammerPieceTable]

Enable Hammer = false

Combine Categories = false

Combined Category Name = PlanBuild

Category Name Vehicles = PlanBuild Vehicles

Category Name Propulsion = PlanBuild Propulsion

Category Name Power = PlanBuild Power

Category Name Tools = PlanBuild Tools

Category Name Hull = PlanBuild Hull

Category Name Structure = PlanBuild Structure

Category Name Deprecated = PlanBuild Deprecated

Category Name Decor = PlanBuild Decor

Category Name Amenities = PlanBuild Amenities

Category Name Kitchen = PlanBuild Kitchen

Category Name Sculptures = PlanBuild Sculptures

Category Name Misc = PlanBuild Misc

Category Name Crafting = PlanBuild Crafting

Category Name BuildingWorkbench = PlanBuild BuildingWorkbench

Category Name BuildingStonecutter = PlanBuild BuildingStonecutter

Category Name Furniture = PlanBuild Furniture

Category Name Crl = PlanBuild Crl

Category Name Crystal Lights = PlanBuild Crystal Lights

Category Name Meads = PlanBuild Meads

Category Name Feasts = PlanBuild Feasts

Category Name Food = PlanBuild Food

Category Name Crafty Carts = PlanBuild Crafty Carts

Category Name SimpleElevators = PlanBuild SimpleElevators

Category Name OOD = PlanBuild OOD

[Plateautem _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = Plateautem

Category Name Misc = Plateautem Misc

[PotionsPlus _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = PotionsPlus

Category Name Crafting = PotionsPlus Crafting

[RuneMagic _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = RuneMagic

Category Name Misc = RuneMagic Misc

[RuneMagic _RuneFocusPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = RuneMagic

Category Name Misc = RuneMagic Misc

Category Name Crafting = RuneMagic Crafting

Category Name BuildingWorkbench = RuneMagic BuildingWorkbench

Category Name Building = RuneMagic Building

[Seed Totem _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = Seed Totem

Category Name Misc = Seed Totem Misc

[SimpleElevators _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = SimpleElevators

Category Name SimpleElevators = SimpleElevators SimpleElevators

[Soulcatcher _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = Soulcatcher

Category Name Furniture = Soulcatcher Furniture

Category Name Crafting = Soulcatcher Crafting

[ValheimRAFT _HammerPieceTable]

Enable Hammer = false

Combine Categories = true

Combined Category Name = ValheimRAFT

Category Name Raft = ValheimRAFT Raft

[VALKEA _BJORKSNASPieceTable]

Enable Hammer = true

Combine Categories = false

Combined Category Name = VALKEA

Category Name Misc = VALKEA Misc

Category Name Crafting = VALKEA Crafting

Category Name BuildingStonecutter = VALKEA BuildingStonecutter

Category Name BuildingWorkbench = VALKEA BuildingWorkbench

Category Name Furniture = VALKEA Furniture

Category Name Building = VALKEA Building

[Vanilla _HammerPieceTable]

Enable Hammer = false

Combine Categories = false

Combined Category Name = Vanilla

Category Name Misc = Misc

Category Name Crafting = Crafting

Category Name BuildingWorkbench = BuildingWorkbench

Category Name BuildingStonecutter = BuildingStonecutter

Category Name Furniture = Furniture

Category Name Building = Building

[Vanilla _RuneFocusPieceTable]

Enable Hammer = false

Combine Categories = false

Combined Category Name = Vanilla

Category Name BuildingStonecutter = BuildingStonecutter

Category Name Furniture = Furniture

