## Settings file was created by plugin ChunkLoader v1.5.1
## Plugin GUID: com.Frogger.ChunkLoader

[Debug]

##  [Synced with Server]
# Setting type: Boolean
# Default value: true
Send debug messages to hud = false

[Fuelling]

##  [Synced with Server]
# Setting type: Int32
# Default value: 100
Max fuel = 50

##  [Synced with Server]
# Setting type: Int32
# Default value: 1
Start fuel = 1

##  [Synced with Server]
# Setting type: String
# Default value: Thunderstone
Fuel item = Thunderstone

##  [Synced with Server]
# Setting type: Int32
# Default value: 5
Minutes for one fuel item = 240

##  [Synced with Server]
# Setting type: Boolean
# Default value: false
Infinite fuel = false

[General]

## Locks client config file so it can't be modified [Synced with Server]
# Setting type: Boolean
# Default value: true
ServerConfigLock = true

[Main]

##  [Synced with Server]
# Setting type: Int32
# Default value: 2
ChunkLoaders limit by player = 2

##  [Synced with Server]
# Setting type: Color
# Default value: FFEB04FF
Terrain flash color = FFEB04FF

[piece_ChunkLoader_stone]

## Build Category where Observation column is available.
# Setting type: BuildPieceCategory
# Default value: Misc
# Acceptable values: Misc, Crafting, Building, Furniture, Custom, All
Build Table Category = Misc

# Setting type: String
# Default value: 
Custom Build Category = 

## Comma separated list of tools where Observation column is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station where Observation column is available.
# Setting type: CraftingTable
# Default value: Forge
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, Custom
Crafting Station = None

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Observation column
# Setting type: String
# Default value: Stone:25:True,Thunderstone:5:True,SurtlingCore:1:True
Crafting Costs = Stone:25:True,Thunderstone:5:True,SurtlingCore:1:True

