## Settings file was created by plugin Valheim HotKeys v1.1.1
## Plugin GUID: com.malafein.valheimhotkeys

[Custom Item Bindings]

## Custom item binding for slot 1.
# Setting type: ItemBinding
# Default value: Healing Mead|Mouse3
Slot 1 = Hammer|BackQuote

## Custom item binding for slot 2.
# Setting type: ItemBinding
# Default value: Arrow|Mouse4
Slot 2 = 

## Custom item binding for slot 3.
# Setting type: ItemBinding
# Default value: 
Slot 3 = 

## Custom item binding for slot 4.
# Setting type: ItemBinding
# Default value: 
Slot 4 = 

## Custom item binding for slot 5.
# Setting type: ItemBinding
# Default value: 
Slot 5 = 

## Custom item binding for slot 6.
# Setting type: ItemBinding
# Default value: 
Slot 6 = 

## Custom item binding for slot 7.
# Setting type: ItemBinding
# Default value: 
Slot 7 = 

## Custom item binding for slot 8.
# Setting type: ItemBinding
# Default value: 
Slot 8 = 

[General]

## Hotkey to toggle the HUD visibility.
# Setting type: KeyboardShortcut
# Default value: F3
ToggleHUD = F9

[Hotbar]

## Hotkey for hotbar slot 1.
# Setting type: KeyboardShortcut
# Default value: None
Slot1 = 

## Hotkey for hotbar slot 2.
# Setting type: KeyboardShortcut
# Default value: None
Slot2 = 

## Hotkey for hotbar slot 3.
# Setting type: KeyboardShortcut
# Default value: None
Slot3 = 

## Hotkey for hotbar slot 4.
# Setting type: KeyboardShortcut
# Default value: None
Slot4 = 

## Hotkey for hotbar slot 5.
# Setting type: KeyboardShortcut
# Default value: None
Slot5 = 

## Hotkey for hotbar slot 6.
# Setting type: KeyboardShortcut
# Default value: None
Slot6 = 

## Hotkey for hotbar slot 7.
# Setting type: KeyboardShortcut
# Default value: None
Slot7 = 

## Hotkey for hotbar slot 8.
# Setting type: KeyboardShortcut
# Default value: None
Slot8 = 

