## Settings file was created by plugin Incremental Trophy Keys v1.2.1
## Plugin GUID: com.gus.incrementaltrophykeys

[Debug]

## Se TRUE: escreve logs quando detectar item/registrar key.
# Setting type: Boolean
# Default value: false
DebugLog = false

[General]

## Se TRUE: o servidor trava e sincroniza as configs para todos os clientes.
# Setting type: Boolean
# Default value: true
LockConfiguration = true

WriteGlobalKeysForListkeys = false

[Items]

## Formato: PrefixKey,MaxLevel  | Ex: PlayerKeyExtraRow,5
# Setting type: String
# Default value: PlayerKeyExtraRow,5
ExtraRow = ExtraRow,5

## Formato: PrefixKey,MaxLevel  | Ex: PlayerKeyQuickSlots,6
# Setting type: String
# Default value: PlayerKeyQuickSlots,6
QuickSlots = QuickSlots,3

## Formato: PrefixKey,MaxLevel  | Ex: PlayerKeyLightenedSlots,1
# Setting type: String
# Default value: PlayerKeyLightenedSlots,1
LightenedSlots = LightenedSlots,1

## Formato: PrefixKey,MaxLevel
# Setting type: String
# Default value: AmmoSlots,1
AmmoSlot = AmmoSlots,1

## Formato: PrefixKey,MaxLevel
# Setting type: String
# Default value: MiscSlots,1
MiscSlot = MiscSlots,1

## Formato: PrefixKey,MaxLevel
# Setting type: String
# Default value: FoodSlots,1
FoodSlot = FoodSlots,1

## Formato: PrefixKey,MaxLevel
# Setting type: String
# Default value: UtilitySlot,4
UtilitySlot = UtilitySlot,4

[Messages]

## Mensagem quando o player já está no nível máximo para ExtraRow.
# Setting type: String
# Default value: Você já está no nível máximo de ExtraRow.
ExtraRowMaxMessage = Você já está no nível máximo de ExtraRow.

## Mensagem quando o player já está no nível máximo para QuickSlots.
# Setting type: String
# Default value: Você já está no nível máximo de QuickSlots.
QuickSlotsMaxMessage = Você já está no nível máximo de QuickSlots.

## Mensagem quando o player já está no nível máximo para LightenedSlots.
# Setting type: String
# Default value: Você já está no nível máximo de LightenedSlots.
LightenedSlotsMaxMessage = Você já está no nível máximo de LightenedSlots.

## Mensagem no nivel maximo.
# Setting type: String
# Default value: Ammo slot ja liberado.
AmmoSlotMaxMessage = Ammo slot ja liberado.

## Mensagem no nivel maximo.
# Setting type: String
# Default value: Misc slot ja liberado.
MiscSlotMaxMessage = Misc slot ja liberado.

## Mensagem no nivel maximo.
# Setting type: String
# Default value: Food slot ja liberado.
FoodSlotMaxMessage = Food slot ja liberado.

## Mensagem no nivel maximo.
# Setting type: String
# Default value: Todos os utility slots ja foram liberados.
UtilitySlotMaxMessage = Todos os utility slots ja foram liberados.

## Formato da mensagem de sucesso. Use {0} para inserir a key liberada.
# Setting type: String
# Default value: Liberado: {0}
SuccessMessageFormat = Liberado: {0}

[TriggerItemNames]

## m_shared.m_name do item que libera níveis de ExtraRow (texto ou token $...).
# Setting type: String
# Default value: $item_extrarowtrophy
ExtraRowItemName = Inventory Expansion Trophy

## m_shared.m_name do item que libera níveis de QuickSlots (texto ou token $...).
# Setting type: String
# Default value: $item_quickslotstrophy
QuickSlotsItemName = Quick Slots Trophy

## m_shared.m_name do item que libera níveis de LightenedSlots (texto ou token $...).
# Setting type: String
# Default value: $item_lightenedslotstrophy
LightenedSlotsItemName = Lightweight Trophy

## m_shared.m_name do AmmoSlotTrophy.
# Setting type: String
# Default value: Ammo Slot Trophy
AmmoSlotItemName = Ammo Slot Trophy

## m_shared.m_name do MiscSlotTrophy.
# Setting type: String
# Default value: Misc Slot Trophy
MiscSlotItemName = Misc Slot Trophy

## m_shared.m_name do FoodSlotTrophy.
# Setting type: String
# Default value: Food Slot Trophy
FoodSlotItemName = Food Slot Trophy

## m_shared.m_name do UtilitySlotTrophy.
# Setting type: String
# Default value: Utility Slot Trophy
UtilitySlotItemName = Utility Slot Trophy

