## Settings file was created by plugin Paved Road No Level v1.0.9
## Plugin GUID: DeathWizsh.PavedRoadNoLevel

[General]

## Enable this mod
# Setting type: Boolean
# Default value: true
Enable = true

## Enable the Stonecutter as a requirement (to pave roads)
# Setting type: Boolean
# Default value: true
Stonecutter requirement = true

