## Settings file was created by plugin QuickStackDeposit v1.0.1
## Plugin GUID: dreamscapist.valheim.quickstackdeposit

[General]

## Key to press while your inventory screen is open to deposit matching items into nearby storages.
# Setting type: KeyboardShortcut
# Default value: R
DepositKey = Q

## How far away (in meters) to look for storages to deposit into.
# Setting type: Single
# Default value: 20
# Acceptable value range: From 10 to 100
DepositRange = 100

## If true, currently equipped items (weapons, armor, etc.) can also be deposited. Off by default so you don't accidentally strip your gear.
# Setting type: Boolean
# Default value: false
IncludeEquippedItems = false

