## Settings file was created by plugin BreedingUpgrades v1.0.2
## Plugin GUID: dumba.breedingupgrades

[1. General]

## If enabled, configuration is locked and can only be changed by server admins.
# Setting type: Boolean
# Default value: true
Lock Configuration = true

## Master toggle for mod functionality.
# Setting type: Boolean
# Default value: true
Enable Mod = true

[2. Breeding]

## Percentage chance for offspring to gain +1 star level.
# Setting type: Single
# Default value: 5
# Acceptable value range: From 0 to 100
Upgrade Chance = 5

## Maximum star level allowed for offspring.
## Vanilla Valheim supports 0-2 stars (levels 1-3).
## Higher values require CLLC or similar creature level mod.
## Without such a mod, values above 2 will be capped at 2.
# Setting type: Int32
# Default value: 2
# Acceptable value range: From 0 to 10
Max Star Level = 2

[3. Debug]

## Enable verbose logging for troubleshooting. Not synced to clients.
# Setting type: Boolean
# Default value: false
Enable Debug Logging = false

