## Settings file was created by plugin Useful Trophies Mod by Khairex, EpicMMO XP Patch by TwentyOneZ v2.0.1
## Plugin GUID: gg.khairex.usefultrophies.twentyonez.EpicMMOPatch

[ExpScaling]

# Setting type: Single
# Default value: 40
deer = 40

# Setting type: Single
# Default value: 133
boar = 133

# Setting type: Single
# Default value: 400
neck = 400

# Setting type: Single
# Default value: 1200
greydwarf = 1200

# Setting type: Single
# Default value: 1500
greydwarfbrute = 1500

# Setting type: Single
# Default value: 1200
greydwarfshaman = 1200

# Setting type: Single
# Default value: 800
skeleton = 800

# Setting type: Single
# Default value: 1500
skeletonpoison = 1500

# Setting type: Single
# Default value: 1000
troll = 1000

# Setting type: Single
# Default value: 2600
surtling = 2600

# Setting type: Single
# Default value: 1800
leech = 1800

# Setting type: Single
# Default value: 1500
draugr = 1500

# Setting type: Single
# Default value: 5000
draugrelite = 5000

# Setting type: Single
# Default value: 1800
blob = 1800

# Setting type: Single
# Default value: 5000
wraith = 5000

# Setting type: Single
# Default value: 200
abomination = 200

# Setting type: Single
# Default value: 3500
wolf = 3500

# Setting type: Single
# Default value: 4000
fenring = 4000

# Setting type: Single
# Default value: 3000
hatchling = 3000

# Setting type: Single
# Default value: 14000
sgolem = 14000

# Setting type: Single
# Default value: 4000
ulv = 4000

# Setting type: Single
# Default value: 4000
cultist = 4000

# Setting type: Single
# Default value: 4500
goblin = 4500

# Setting type: Single
# Default value: 13000
goblinbrute = 13000

# Setting type: Single
# Default value: 4000
goblinshaman = 4000

# Setting type: Single
# Default value: 7000
lox = 7000

# Setting type: Single
# Default value: 6000
growth = 6000

# Setting type: Single
# Default value: 6000
deathsquito = 6000

# Setting type: Single
# Default value: 1500
serpent = 1500

# Setting type: Single
# Default value: 400
hare = 400

# Setting type: Single
# Default value: 3600
gjall = 3600

# Setting type: Single
# Default value: 4800
tick = 4800

# Setting type: Single
# Default value: 6000
dvergr = 6000

# Setting type: Single
# Default value: 18000
seeker = 18000

# Setting type: Single
# Default value: 25000
seekerbrute = 25000

# Setting type: Single
# Default value: 200
eikthyr = 200

# Setting type: Single
# Default value: 500
elder = 500

# Setting type: Single
# Default value: 900
bonemass = 900

# Setting type: Single
# Default value: 1400
dragonqueen = 1400

# Setting type: Single
# Default value: 3000
goblinking = 3000

# Setting type: Single
# Default value: 4500
seekerqueen = 4500

# Setting type: Single
# Default value: 2500
ghost = 2500

# Setting type: Single
# Default value: 3000
bjorn = 3000

# Setting type: Single
# Default value: 6000
skeleton_hildir = 6000

# Setting type: Single
# Default value: 8000
cultist_hildir = 8000

# Setting type: Single
# Default value: 3500
bjorn_undead = 3500

# Setting type: Single
# Default value: 9000
shamanbro = 9000

# Setting type: Single
# Default value: 9000
brutebro = 9000

# Setting type: Single
# Default value: 8000
asksvin = 8000

# Setting type: Single
# Default value: 12000
bonemaw = 12000

# Setting type: Single
# Default value: 15000
fallenvalkyrie = 15000

# Setting type: Single
# Default value: 9000
charredarcher = 9000

# Setting type: Single
# Default value: 12000
morgen = 12000

# Setting type: Single
# Default value: 9000
volture = 9000

# Setting type: Single
# Default value: 12000
charredmage = 12000

# Setting type: Single
# Default value: 10000
charredmelee = 10000

# Setting type: Single
# Default value: 20000
fader = 20000

# Setting type: Single
# Default value: 18000
frosttroll = 18000

# Setting type: Single
# Default value: 1000
seal = 1000

# Setting type: Single
# Default value: 9000
elaking = 9000

# Setting type: Single
# Default value: 15000
jotunwitch = 15000

# Setting type: Single
# Default value: 14000
mole = 14000

# Setting type: Single
# Default value: 6000
moose = 6000

# Setting type: Single
# Default value: 7000
blob_frost = 7000

# Setting type: Single
# Default value: 9000
blob_lava = 9000

# Setting type: Single
# Default value: 5000
blob_morkhalla = 5000

# Setting type: Single
# Default value: 10000
jotunwarrior = 10000

# Setting type: Single
# Default value: 20000
barka = 20000

# Setting type: Single
# Default value: 12000
writhan = 12000

[GoldValue]

# Setting type: Boolean
# Default value: true
EnableSellingTrophies = true

# Setting type: Int32
# Default value: 15
deer = 15

# Setting type: Int32
# Default value: 10
boar = 10

# Setting type: Int32
# Default value: 10
neck = 10

# Setting type: Int32
# Default value: 10
greydwarf = 10

# Setting type: Int32
# Default value: 15
greydwarfbrute = 15

# Setting type: Int32
# Default value: 15
greydwarfshaman = 15

# Setting type: Int32
# Default value: 10
skeleton = 10

# Setting type: Int32
# Default value: 15
skeletonpoison = 15

# Setting type: Int32
# Default value: 50
troll = 50

# Setting type: Int32
# Default value: 15
surtling = 15

# Setting type: Int32
# Default value: 15
leech = 15

# Setting type: Int32
# Default value: 15
draugr = 15

# Setting type: Int32
# Default value: 30
draugrelite = 30

# Setting type: Int32
# Default value: 20
blob = 20

# Setting type: Int32
# Default value: 30
wraith = 30

# Setting type: Int32
# Default value: 100
abomination = 100

# Setting type: Int32
# Default value: 25
wolf = 25

# Setting type: Int32
# Default value: 30
fenring = 30

# Setting type: Int32
# Default value: 35
hatchling = 35

# Setting type: Int32
# Default value: 100
sgolem = 100

# Setting type: Int32
# Default value: 50
ulv = 50

# Setting type: Int32
# Default value: 50
cultist = 50

# Setting type: Int32
# Default value: 35
goblin = 35

# Setting type: Int32
# Default value: 50
goblinbrute = 50

# Setting type: Int32
# Default value: 50
goblinshaman = 50

# Setting type: Int32
# Default value: 150
lox = 150

# Setting type: Int32
# Default value: 50
growth = 50

# Setting type: Int32
# Default value: 25
deathsquito = 25

# Setting type: Int32
# Default value: 250
serpent = 250

# Setting type: Int32
# Default value: 40
hare = 40

# Setting type: Int32
# Default value: 150
gjall = 150

# Setting type: Int32
# Default value: 50
tick = 50

# Setting type: Int32
# Default value: 30
dvergr = 30

# Setting type: Int32
# Default value: 50
seeker = 50

# Setting type: Int32
# Default value: 100
seekerbrute = 100

# Setting type: Int32
# Default value: 50
eikthyr = 50

# Setting type: Int32
# Default value: 100
elder = 100

# Setting type: Int32
# Default value: 150
bonemass = 150

# Setting type: Int32
# Default value: 200
dragonqueen = 200

# Setting type: Int32
# Default value: 250
goblinking = 250

# Setting type: Int32
# Default value: 300
seekerqueen = 300

# Setting type: Int32
# Default value: 30
ghost = 30

# Setting type: Int32
# Default value: 50
bjorn = 50

# Setting type: Int32
# Default value: 50
skeleton_hildir = 50

# Setting type: Int32
# Default value: 50
cultist_hildir = 50

# Setting type: Int32
# Default value: 50
bjorn_undead = 50

# Setting type: Int32
# Default value: 100
shamanbro = 100

# Setting type: Int32
# Default value: 100
brutebro = 100

# Setting type: Int32
# Default value: 100
asksvin = 100

# Setting type: Int32
# Default value: 250
bonemaw = 250

# Setting type: Int32
# Default value: 200
fallenvalkyrie = 200

# Setting type: Int32
# Default value: 120
charredarcher = 120

# Setting type: Int32
# Default value: 150
morgen = 150

# Setting type: Int32
# Default value: 100
volture = 100

# Setting type: Int32
# Default value: 150
charredmage = 150

# Setting type: Int32
# Default value: 120
charredmelee = 120

# Setting type: Int32
# Default value: 300
fader = 300

# Setting type: Int32
# Default value: 200
frosttroll = 200

# Setting type: Int32
# Default value: 40
seal = 40

# Setting type: Int32
# Default value: 150
elaking = 150

# Setting type: Int32
# Default value: 200
jotunwitch = 200

# Setting type: Int32
# Default value: 200
mole = 200

# Setting type: Int32
# Default value: 120
moose = 120

# Setting type: Int32
# Default value: 100
blob_frost = 100

# Setting type: Int32
# Default value: 120
blob_lava = 120

# Setting type: Int32
# Default value: 150
blob_morkhalla = 150

# Setting type: Int32
# Default value: 150
jotunwarrior = 150

# Setting type: Int32
# Default value: 300
barka = 300

# Setting type: Int32
# Default value: 150
writhan = 150

[XPModifier]

# Setting type: Single
# Default value: 1
ExperienceModifier = 1

