## Settings file was created by plugin Simple New Set and Cape Bonuses v1.0.3
## Plugin GUID: goldenrevolver.SimpleSetAndCapeBonuses

[0 - Requires Restart]

# Setting type: Boolean
# Default value: true
EnableTrollArmorSetBonusChange = true

# Setting type: Boolean
# Default value: true
EnableLeatherArmorSetBonus = true

# Setting type: Boolean
# Default value: true
EnableForagerArmorSetBonus = true

# Setting type: Boolean
# Default value: true
EnableCapeBuffs = true

# Setting type: Boolean
# Default value: true
EnableSetBonusIcons = true

# Setting type: Boolean
# Default value: true
AlwaysEnableMidsummerCrownRecipe = true

[1 - No Restart Required]

## Whether Forager always grants 1 more item, or 0 to 2 with an average of 1.
# Setting type: Boolean
# Default value: true
ForagerSetBonusUsesRandomness = true

[9 - Localization]

# Setting type: String
# Default value: Quick Feet
LeatherArmorSetBonusLabel = Quick Feet

# Setting type: String
# Default value: Your legs carry you faster and further.
LeatherArmorSetBonusTooltip = Your legs carry you faster and further.

# Setting type: String
# Default value: Forager
ForagerSetBonusLabel = Forager

# Setting type: String
# Default value: Your foraging skills are improved.
ForagerSetBonusTooltip = Your foraging skills are improved.

