## Settings file was created by plugin Simple Smarter Corpse Run and Tombstone v1.0.1
## Plugin GUID: goldenrevolver.SimpleSmarterCorpseRun

[General]

## Corpse Run now gives as much carrying capacity as reequipping your utility item would give and updates with every equipment change.
# Setting type: Boolean
# Default value: true
EnableSmartCorpseRunBuff = true

## When trying to recover your tombstone, the tombstone now condiders the carrying capacity of reequipping your utility item from your tombstone.
# Setting type: Boolean
# Default value: true
EnableSmartTombStoneWeightCheck = true

## When trying to recover your tombstone, the tombstone first tries to quick stack your inventory into the tombstone to free up more slots.
# Setting type: Boolean
# Default value: true
EnableSmartTombStoneSlotCheck = true

## Only change if you have performance issues. Which items to check when calculating bonus carrying capacity. Megingjord is a utility items, Adventure backpacks and Jude's backpacks are shoulder items.
# Setting type: ItemsToCheck
# Default value: AllEquippableItems
# Acceptable values: JustUtilityItems, UtilityAndShoulderItems, AllEquippableItems
WhichItemsToCheck = AllEquippableItems

