## Settings file was created by plugin HoldMySpear v1.2.0
## Plugin GUID: Kevver.HoldMySpear

[General]

## Lock the configuration (Synced with server)
# Setting type: Boolean
# Default value: true
configLocked = true

## Enable the mod
# Setting type: Boolean
# Default value: true
enabled = true

[Keybinds]

## Bound key used to disown a spear
# Setting type: KeyboardShortcut
# Default value: E + LeftAlt
disown = E + LeftAlt

