## Settings file was created by plugin CycleChests v1.0.1
## Plugin GUID: neobotics.valheim_mod.cyclechests

[Controls]

## Press this key while a chest is open to open the next container. Default is right arrow.
# Setting type: KeyboardShortcut
# Default value: RightArrow
CycleNext = RightArrow

## Press this key while a chest is open to open the previous container. Default is left arrow.
# Setting type: KeyboardShortcut
# Default value: LeftArrow
CyclePrevious = LeftArrow

## Cycle through containers using the mouse wheel
# Setting type: Boolean
# Default value: true
UseMouseWheel = true

[General]

## Distance from current location to look for chests to cycle through
# Setting type: Int32
# Default value: 4
# Acceptable value range: From 1 to 99
DistanceToIncludeChests = 4

## The way in which chests are organized. Setting to 'Distance' sorts chests by distance from the player, with cycling starting with the closest chests (within the search radius).
# Setting type: CycleStrategy
# Default value: Distance
# Acceptable values: None, Distance
Chest Sorting = Distance

[Sound]

## Volume of Chest open and close sounds, as a percentage of maximum volume.
# Setting type: Int32
# Default value: 100
# Acceptable value range: From 0 to 100
ChestOpenCloseVolume = 100

[Utility]

## Controls the level of information contained in the log
# Setting type: LogLevels
# Default value: Info
# Acceptable values: Critical, Error, Warning, Info, Debug, Trace
LogLevel = Info

## Controls how sensitive the mouse wheel is when switching chests. Increase if too sensitive, decrease if too sluggish. Min 0; Max 10
# Setting type: Int32
# Default value: 3
# Acceptable value range: From 0 to 10
MouseWheelLatency = 3

