## Settings file was created by plugin GBCustomTable v0.1.7
## Plugin GUID: odinplus.plugins.gbcustomtable

[Custom Blackforge Ext1]

## Build Category where Custom Blackforge Ext1 is available.
# Setting type: BuildPieceCategory
# Default value: Crafting
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Crafting

# Setting type: String
# Default value: 
Custom Build Category = 

## Comma separated list of tools where Custom Blackforge Ext1 is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station that Custom Blackforge Ext1 extends.
# Setting type: CraftingTable
# Default value: BlackForge
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Extends Station = BlackForge

# Setting type: String
# Default value: 
Custom Extend Station = 

## Distance from the station that Custom Blackforge Ext1 can be placed.
# Setting type: Single
# Default value: 8
Max Station Distance = 8

## Crafting station where Custom Blackforge Ext1 is available.
# Setting type: CraftingTable
# Default value: BlackForge
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Crafting Station = BlackForge

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Custom Blackforge Ext1
# Setting type: String
# Default value: YggdrasilWood:10:True,BlackCore:2:True
Crafting Costs = YggdrasilWood:10:True,BlackCore:2:True

[Custom Blackforge Ext2]

## Build Category where Custom Blackforge Ext2 is available.
# Setting type: BuildPieceCategory
# Default value: Crafting
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Crafting

# Setting type: String
# Default value: 
Custom Build Category = 

## Comma separated list of tools where Custom Blackforge Ext2 is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station that Custom Blackforge Ext2 extends.
# Setting type: CraftingTable
# Default value: BlackForge
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Extends Station = BlackForge

# Setting type: String
# Default value: 
Custom Extend Station = 

## Distance from the station that Custom Blackforge Ext2 can be placed.
# Setting type: Single
# Default value: 8
Max Station Distance = 8

## Crafting station where Custom Blackforge Ext2 is available.
# Setting type: CraftingTable
# Default value: BlackForge
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Crafting Station = BlackForge

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Custom Blackforge Ext2
# Setting type: String
# Default value: YggdrasilWood:10:True,BlackCore:2:True
Crafting Costs = YggdrasilWood:10:True,BlackCore:2:True

[Custom Eitr Powerup]

## Crafting station where Custom Eitr Powerup is available.
# Setting type: CraftingTable
# Default value: Custom
# Acceptable values: Disabled, Inventory, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, Custom
Crafting Station = Custom

# Setting type: String
# Default value: Custom_Sky_Forge
Custom Crafting Station = Custom_Sky_Forge

## Required crafting station level to craft Custom Eitr Powerup.
# Setting type: Int32
# Default value: 30
Crafting Station Level = 30

## Whether only one of the ingredients is needed to craft Custom Eitr Powerup
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Require only one resource = Off

## Multiplies the crafted amount based on the quality of the resources when crafting Custom Eitr Powerup. Only works, if Require Only One Resource is true.
# Setting type: Single
# Default value: 1
Quality Multiplier = 1

## Item costs to craft Custom Eitr Powerup
# Setting type: String
# Default value: SwordCheat:1
Crafting Costs = SwordCheat:1

## Custom Eitr Powerup drops from this creature.
# Setting type: String
# Default value: 
Drops from = 

## Weight of Custom Eitr Powerup.
# Setting type: Single
# Default value: 0.1
Weight = 0.1

## Trader value of Custom Eitr Powerup.
# Setting type: Int32
# Default value: 0
Trader Value = 0

## Health value of Custom Eitr Powerup.
# Setting type: Single
# Default value: 25
Health = 25

## Stamina value of Custom Eitr Powerup.
# Setting type: Single
# Default value: 12
Stamina = 12

## Eitr value of Custom Eitr Powerup.
# Setting type: Single
# Default value: 45
Eitr = 45

## Duration of Custom Eitr Powerup.
# Setting type: Single
# Default value: 1500
Duration = 1500

## Health regen value of Custom Eitr Powerup.
# Setting type: Single
# Default value: 2
Health Regen = 2

## Which traders sell Custom Eitr Powerup.
# Setting type: Trader
# Default value: None
# Acceptable values: None, Haldor, Hildir
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Trader Selling = None

## Price of Custom Eitr Powerup at the trader.
# Setting type: UInt32
# Default value: 0
Trader Price = 0

## Stack size of Custom Eitr Powerup in the trader. Also known as the number of items sold by a trader in one transaction.
# Setting type: UInt32
# Default value: 1
Trader Stack = 1

## Required global key to unlock Custom Eitr Powerup at the trader.
# Setting type: String
# Default value: 
Trader Required Global Key = 

[Custom Magetable Ext1]

## Build Category where Custom Magetable Ext1 is available.
# Setting type: BuildPieceCategory
# Default value: Crafting
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Crafting

# Setting type: String
# Default value: 
Custom Build Category = 

## Comma separated list of tools where Custom Magetable Ext1 is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station that Custom Magetable Ext1 extends.
# Setting type: CraftingTable
# Default value: MageTable
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Extends Station = MageTable

# Setting type: String
# Default value: 
Custom Extend Station = 

## Distance from the station that Custom Magetable Ext1 can be placed.
# Setting type: Single
# Default value: 8
Max Station Distance = 8

## Crafting station where Custom Magetable Ext1 is available.
# Setting type: CraftingTable
# Default value: MageTable
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Crafting Station = MageTable

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Custom Magetable Ext1
# Setting type: String
# Default value: YggdrasilWood:10:True,BlackCore:2:True
Crafting Costs = YggdrasilWood:10:True,BlackCore:2:True

[Custom Magetable Ext2]

## Build Category where Custom Magetable Ext2 is available.
# Setting type: BuildPieceCategory
# Default value: Crafting
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Crafting

# Setting type: String
# Default value: 
Custom Build Category = 

## Comma separated list of tools where Custom Magetable Ext2 is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station that Custom Magetable Ext2 extends.
# Setting type: CraftingTable
# Default value: MageTable
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Extends Station = MageTable

# Setting type: String
# Default value: 
Custom Extend Station = 

## Distance from the station that Custom Magetable Ext2 can be placed.
# Setting type: Single
# Default value: 8
Max Station Distance = 8

## Crafting station where Custom Magetable Ext2 is available.
# Setting type: CraftingTable
# Default value: MageTable
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Crafting Station = MageTable

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Custom Magetable Ext2
# Setting type: String
# Default value: YggdrasilWood:10:True,BlackCore:2:True
Crafting Costs = YggdrasilWood:10:True,BlackCore:2:True

[custom_blackforge_ext_1]

Build Table Category = Crafting

Custom Build Category = 

Tools = Hammer

Extends Station = BlackForge

Custom Extend Station = 

Max Station Distance = 8

Crafting Station = BlackForge

Custom Crafting Station = 

Crafting Costs = YggdrasilWood:10:True,BlackCore:2:True

[custom_blackforge_ext_2]

Build Table Category = Crafting

Custom Build Category = 

Tools = Hammer

Extends Station = BlackForge

Custom Extend Station = 

Max Station Distance = 8

Crafting Station = BlackForge

Custom Crafting Station = 

Crafting Costs = YggdrasilWood:10:True,BlackCore:2:True

[custom_eitr_powerup]

Crafting Station = Custom

Custom Crafting Station = Custom_Sky_Forge

Crafting Station Level = 30

Require only one resource = Off

Quality Multiplier = 1

Crafting Costs = SwordCheat:1

Drops from = 

Weight = 0.1

Trader Value = 0

Health = 25

Stamina = 12

Eitr = 45

Duration = 1500

Health Regen = 2

Trader Selling = None

Trader Price = 0

Trader Stack = 1

Trader Required Global Key = 

[custom_magetable_ext_1]

Build Table Category = Crafting

Custom Build Category = 

Tools = Hammer

Extends Station = MageTable

Custom Extend Station = 

Max Station Distance = 8

Crafting Station = MageTable

Custom Crafting Station = 

Crafting Costs = YggdrasilWood:10:True,BlackCore:2:True

[custom_magetable_ext_2]

Build Table Category = Crafting

Custom Build Category = 

Tools = Hammer

Extends Station = MageTable

Custom Extend Station = 

Max Station Distance = 8

Crafting Station = MageTable

Custom Crafting Station = 

Crafting Costs = YggdrasilWood:10:True,BlackCore:2:True

[custom_sky_forge]

Build Table Category = Crafting

Custom Build Category = 

Tools = Hammer

Crafting Costs = BlackMarble:10:True

[custom_table_ext1]

Build Table Category = Crafting

Custom Build Category = 

Tools = Hammer

Extends Station = Custom

Custom Extend Station = Custom_Sky_Forge

Max Station Distance = 8

Crafting Costs = BlackMarble:2:True

[custom_table_ext2]

Build Table Category = Crafting

Custom Build Category = 

Tools = Hammer

Extends Station = Custom

Custom Extend Station = Custom_Sky_Forge

Max Station Distance = 8

Crafting Costs = BlackMarble:2:True

[custom_table_ext3]

Build Table Category = Crafting

Custom Build Category = 

Tools = Hammer

Extends Station = Custom

Custom Extend Station = Custom_Sky_Forge

Max Station Distance = 8

Crafting Costs = BlackMarble:2:True

[Magic Crystal Table]

## Build Category where Magic Crystal Table is available.
# Setting type: BuildPieceCategory
# Default value: Crafting
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Crafting

# Setting type: String
# Default value: 
Custom Build Category = 

## Comma separated list of tools where Magic Crystal Table is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft Magic Crystal Table
# Setting type: String
# Default value: BlackMarble:10:True
Crafting Costs = BlackMarble:10:True

[Table Ext 1]

## Build Category where Table Ext 1 is available.
# Setting type: BuildPieceCategory
# Default value: Crafting
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Crafting

# Setting type: String
# Default value: 
Custom Build Category = 

## Comma separated list of tools where Table Ext 1 is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station that Table Ext 1 extends.
# Setting type: CraftingTable
# Default value: Custom
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Extends Station = Custom

# Setting type: String
# Default value: Custom_Sky_Forge
Custom Extend Station = Custom_Sky_Forge

## Distance from the station that Table Ext 1 can be placed.
# Setting type: Single
# Default value: 8
Max Station Distance = 8

## Item costs to craft Table Ext 1
# Setting type: String
# Default value: BlackMarble:2:True
Crafting Costs = BlackMarble:2:True

[Table Ext 2]

## Build Category where Table Ext 2 is available.
# Setting type: BuildPieceCategory
# Default value: Crafting
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Crafting

# Setting type: String
# Default value: 
Custom Build Category = 

## Comma separated list of tools where Table Ext 2 is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station that Table Ext 2 extends.
# Setting type: CraftingTable
# Default value: Custom
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Extends Station = Custom

# Setting type: String
# Default value: Custom_Sky_Forge
Custom Extend Station = Custom_Sky_Forge

## Distance from the station that Table Ext 2 can be placed.
# Setting type: Single
# Default value: 8
Max Station Distance = 8

## Item costs to craft Table Ext 2
# Setting type: String
# Default value: BlackMarble:2:True
Crafting Costs = BlackMarble:2:True

[Table Ext 3]

## Build Category where Table Ext 3 is available.
# Setting type: BuildPieceCategory
# Default value: Crafting
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Crafting

# Setting type: String
# Default value: 
Custom Build Category = 

## Comma separated list of tools where Table Ext 3 is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station that Table Ext 3 extends.
# Setting type: CraftingTable
# Default value: Custom
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, FoodPreparationTable, MeadKetill, Custom
Extends Station = Custom

# Setting type: String
# Default value: Custom_Sky_Forge
Custom Extend Station = Custom_Sky_Forge

## Distance from the station that Table Ext 3 can be placed.
# Setting type: Single
# Default value: 8
Max Station Distance = 8

## Item costs to craft Table Ext 3
# Setting type: String
# Default value: BlackMarble:2:True
Crafting Costs = BlackMarble:2:True

