## Settings file was created by plugin Perspex Exploration Map v1.0.0
## Plugin GUID: perspex.explorationmap

[Campfire]

## Allow the large map while sitting inside a fire effect area.
# Setting type: Boolean
# Default value: true
Allow Map While Sitting Near Fire = true

[Cartography]

## Allow the large map near a cartography table.
# Setting type: Boolean
# Default value: true
Allow Map Near Cartography Table = true

## Distance from a cartography table.
# Setting type: Single
# Default value: 5
# Acceptable value range: From 0 to 100
Cartography Table Range = 5

[General]

## Only server admins can change synchronized settings.
# Setting type: Boolean
# Default value: true
Lock Configuration = true

[Map Progression]

## Exploration or Sailing level required for the minimap.
# Setting type: Int32
# Default value: 40
# Acceptable value range: From 0 to 100
Minimap Unlock Level = 40

