## Settings file was created by plugin Advanced Portals v1.2.0
## Plugin GUID: randyknapp.mods.advancedportals

[Ancient Portal]

## Whether Ancient Portal requires a crafting station to be built at all.
# Setting type: Boolean
# Default value: true
Requires Workbench = true

## The table required to allow building this piece, eg: 'forge', 'piece_workbench', 'blackforge', 'piece_artisanstation'.
# Setting type: String
# Default value: piece_workbench
Workbench = piece_workbench

## Enable/Disable the Ancient Portal.
# Setting type: Boolean
# Default value: true
Enabled = true

## Piece category for building.
# Setting type: String
# Default value: Misc
# Acceptable values: Misc, Crafting, Building, HeavyBuild, Furniture, DeepNorth, Feasts, Food, Mead, All
Piece Category = Misc

## Cost to build. Find item ids: https://valheim.fandom.com/wiki/Item_IDs Format: resouce_id,amount,refund eg: Wood,8,true|LeatherScraps,4,false
# Setting type: String
# Default value: ElderBark,20,True|Iron,5,True|SurtlingCore,2,True
Building Cost = ElderBark,20,True|Iron,5,True|SurtlingCore,2,True

## A comma separated list of the item types allowed through this portal. Find item ids: https://valheim.fandom.com/wiki/Item_IDs
# Setting type: String
# Default value: Copper, CopperOre, CopperScrap, Tin, TinOre, Bronze, BronzeScrap
Allowed Items = Copper, CopperOre, CopperScrap, Tin, TinOre, Bronze, BronzeScrap

## Allow all items through this portal. Overrides Allowed Items.
# Setting type: Boolean
# Default value: false
Allow Everything = false

[Black Marble Portal]

## Whether Black Marble Portal requires a crafting station to be built at all.
# Setting type: Boolean
# Default value: true
Requires Workbench = true

## The table required to allow building this piece, eg: 'forge', 'piece_workbench', 'blackforge', 'piece_artisanstation'.
# Setting type: String
# Default value: piece_workbench
Workbench = piece_workbench

## Enable/Disable the Black Marble Portal.
# Setting type: Boolean
# Default value: true
Enabled = true

## Piece category for building.
# Setting type: String
# Default value: Misc
# Acceptable values: Misc, Crafting, Building, HeavyBuild, Furniture, DeepNorth, Feasts, Food, Mead, All
Piece Category = Misc

## Cost to build. Find item ids: https://valheim.fandom.com/wiki/Item_IDs Format: resouce_id,amount,refund eg: Wood,8,true|LeatherScraps,4,false
# Setting type: String
# Default value: BlackMarble,20,True|BlackMetal,5,True|Eitr,2,True
Building Cost = BlackMarble,20,True|BlackMetal,5,True|Eitr,2,True

## A comma separated list of the item types allowed through this portal. Find item ids: https://valheim.fandom.com/wiki/Item_IDs
# Setting type: String
# Default value: Silver, SilverOre, BlackMetal, BlackMetalScrap
Allowed Items = Silver, SilverOre, BlackMetal, BlackMetalScrap

## Allow all items through this portal. Overrides Allowed Items.
# Setting type: Boolean
# Default value: true
Allow Everything = true

## Additionally allow everything the portals listed before this one allow.
# Setting type: Boolean
# Default value: true
Use All Previous = true

[Common]

## Enables verbose debug logging for the shared item/piece loaders.
# Setting type: Boolean
# Default value: false
EnableDebugMode = false

## Delay in seconds before a changed config entry is applied in-game. Coalesces a burst of rapid edits (typing, file reloads, server sync) into a single apply. Set to 0 to apply instantly.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 10
Config Apply Delay = 1

[Config Sync]

Lock Config = true

[Obsidian Portal]

## Whether Obsidian Portal requires a crafting station to be built at all.
# Setting type: Boolean
# Default value: true
Requires Workbench = true

## The table required to allow building this piece, eg: 'forge', 'piece_workbench', 'blackforge', 'piece_artisanstation'.
# Setting type: String
# Default value: piece_workbench
Workbench = piece_workbench

## Enable/Disable the Obsidian Portal.
# Setting type: Boolean
# Default value: true
Enabled = true

## Piece category for building.
# Setting type: String
# Default value: Misc
# Acceptable values: Misc, Crafting, Building, HeavyBuild, Furniture, DeepNorth, Feasts, Food, Mead, All
Piece Category = Misc

## Cost to build. Find item ids: https://valheim.fandom.com/wiki/Item_IDs Format: resouce_id,amount,refund eg: Wood,8,true|LeatherScraps,4,false
# Setting type: String
# Default value: Obsidian,20,True|Silver,5,True|SurtlingCore,2,True
Building Cost = Obsidian,20,True|Silver,5,True|SurtlingCore,2,True

## A comma separated list of the item types allowed through this portal. Find item ids: https://valheim.fandom.com/wiki/Item_IDs
# Setting type: String
# Default value: Iron, IronScrap, IronOre
Allowed Items = Iron, IronScrap, IronOre

## Allow all items through this portal. Overrides Allowed Items.
# Setting type: Boolean
# Default value: false
Allow Everything = false

## Additionally allow everything the portals listed before this one allow.
# Setting type: Boolean
# Default value: true
Use All Previous = true

[Portal 1 - Ancient]

Ancient Portal Enabled = true

Ancient Portal Recipe = ElderBark:20,Iron:5,SurtlingCore:2

Ancient Portal Allowed Items = Copper, CopperOre, CopperScrap, Tin, TinOre

Ancient Portal Allow Everything = false

[Portal 2 - Obsidian]

Obsidian Portal Enabled = true

Obsidian Portal Recipe = Obsidian:20,Silver:5,SurtlingCore:2

Obsidian Portal Allowed Items = Iron, IronScrap

Obsidian Portal Allow Everything = false

Obsidian Portal Use All Previous = true

[Portal 3 - Black Marble]

Black Marble Portal Enabled = true

Black Marble Portal Recipe = BlackMarble:20,Eitr:2

Black Marble Portal Allowed Items = Silver, SilverOre

Black Marble Portal Allow Everything = false

Black Marble Portal Use All Previous = true

