## Settings file was created by plugin Lumberyard v1.0.3
## Plugin GUID: RustyMods.Lumberyard

[1 - General]

## If on, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

[Conversion Rate]

## Seed to wood conversion multiplier [Synced with Server]
# Setting type: Int32
# Default value: 5
# Acceptable value range: From 1 to 50
Beech Seed = 20

## Seed to wood conversion multiplier [Synced with Server]
# Setting type: Int32
# Default value: 20
# Acceptable value range: From 1 to 50
Birch Seed = 20

## Seed to wood conversion multiplier [Synced with Server]
# Setting type: Int32
# Default value: 5
# Acceptable value range: From 1 to 50
Fir Cone = 20

## Seed to wood conversion multiplier [Synced with Server]
# Setting type: Int32
# Default value: 20
# Acceptable value range: From 1 to 50
Pine Cone = 20

## Seed to wood conversion multiplier [Synced with Server]
# Setting type: Int32
# Default value: 40
# Acceptable value range: From 1 to 50
Acorn = 40

## Seed to wood conversion multiplier [Synced with Server]
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 1 to 50
Sap = 10

## Seed to wood conversion multiplier [Synced with Server]
# Setting type: Int32
# Default value: 15
# Acceptable value range: From 1 to 50
Ancient Seed = 15

[Lumber Tent]

## Build Category where Lumber Tent is available.
# Setting type: BuildPieceCategory
# Default value: Crafting
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Crafting

# Setting type: String
# Default value: 
Custom Build Category = 

## Comma separated list of tools where Lumber Tent is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station that Lumber Tent extends.
# Setting type: CraftingTable
# Default value: Custom
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, Custom
Extends Station = Custom

# Setting type: String
# Default value: LumberYard_RS
Custom Extend Station = LumberYard_RS

## Distance from the station that Lumber Tent can be placed.
# Setting type: Single
# Default value: 20
Max Station Distance = 20

## Crafting station where Lumber Tent is available.
# Setting type: CraftingTable
# Default value: Custom
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, Custom
Crafting Station = Custom

# Setting type: String
# Default value: LumberYard_RS
Custom Crafting Station = LumberYard_RS

## Item costs to craft Lumber Tent
# Setting type: String
# Default value: LinenThread:20:True,BlackMetal:20:True,LoxPelt:20:True,YggdrasilWood:20:True
Crafting Costs = LinenThread:20:True,BlackMetal:20:True,LoxPelt:20:True,YggdrasilWood:20:True

[Lumber Wagon]

## Build Category where Lumber Wagon is available.
# Setting type: BuildPieceCategory
# Default value: Crafting
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Crafting

# Setting type: String
# Default value: 
Custom Build Category = 

## Comma separated list of tools where Lumber Wagon is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station that Lumber Wagon extends.
# Setting type: CraftingTable
# Default value: Custom
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, Custom
Extends Station = Custom

# Setting type: String
# Default value: LumberYard_RS
Custom Extend Station = LumberYard_RS

## Distance from the station that Lumber Wagon can be placed.
# Setting type: Single
# Default value: 20
Max Station Distance = 20

## Crafting station where Lumber Wagon is available.
# Setting type: CraftingTable
# Default value: Custom
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, Custom
Crafting Station = Custom

# Setting type: String
# Default value: LumberYard_RS
Custom Crafting Station = LumberYard_RS

## Item costs to craft Lumber Wagon
# Setting type: String
# Default value: FineWood:20:True,Iron:20:True,ElderBark:20:True,BronzeNails:20:True
Crafting Costs = FineWood:20:True,Iron:20:True,ElderBark:20:True,BronzeNails:20:True

[Lumberyard]

## Build Category where Lumberyard is available.
# Setting type: BuildPieceCategory
# Default value: Crafting
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Crafting

# Setting type: String
# Default value: 
Custom Build Category = 

## Comma separated list of tools where Lumberyard is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Crafting station where Lumberyard is available.
# Setting type: CraftingTable
# Default value: Workbench
# Acceptable values: None, Workbench, Cauldron, Forge, ArtisanTable, StoneCutter, MageTable, BlackForge, Custom
Crafting Station = Workbench

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Item costs to craft Lumberyard
# Setting type: String
# Default value: FineWood:20:True,SurtlingCore:20:True,RoundLog:20:True,Bronze:20:True
Crafting Costs = FineWood:20:True,SurtlingCore:20:True,RoundLog:20:True,Bronze:20:True

[Lumberyard Settings]

## Item prefab name used to fuel the lumberyard [Synced with Server]
# Setting type: String
# Default value: Coins
Fuel Item = Coins

## Total capacity of fuel lumberyard can hold [Synced with Server]
# Setting type: Int32
# Default value: 500
# Acceptable value range: From 1 to 1000
Max Fuel = 300

## Total capacity of seeds lumberyard can hold [Synced with Server]
# Setting type: Int32
# Default value: 100
# Acceptable value range: From 1 to 1000
Max Seeds = 60

## Fuel needed to convert seed to lumber [Synced with Server]
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 1 to 50
Fuel Per Product = 5

## Seconds to convert seed to lumber [Synced with Server]
# Setting type: Int32
# Default value: 300
# Acceptable value range: From 1 to 5000
Sec Per Product = 750

##  [Synced with Server]
# Setting type: String
# Default value: Lumberyard Barrel
Container Display Name = Lumberyard Barrel

##  [Synced with Server]
# Setting type: String
# Default value: Add Seeds
Add Seed Hover Text = Add Seeds

## If on, logs around lumberyard are visible [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Plot Visible = On

## Chance of returning seed [Synced with Server]
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 100
Chance of Seed = 80

## ex: Hammer,Hoe,Stone [Synced with Server]
# Setting type: String
# Default value: 
Allowed Prefabs in Barrel = 

[piece_lumberyard]

Build Table Category = Crafting

Custom Build Category = 

Tools = Hammer

Crafting Station = Workbench

Custom Crafting Station = 

Crafting Costs = Wood:15:True,Uncut_Yellow_Stone:10:True,IronNails:8:True,questitem_straw_doll:1:True,questitem_scroll_yellow:1:True

[piece_lumberyard_ext1]

Build Table Category = Crafting

Custom Build Category = 

Tools = Hammer

Extends Station = Custom

Custom Extend Station = LumberYard_RS

Max Station Distance = 20

Crafting Station = Custom

Custom Crafting Station = LumberYard_RS

Crafting Costs = FineWood:20:True,BronzeNails:10:True,RoundLog:10:True

[piece_lumberyard_ext2]

Build Table Category = Crafting

Custom Build Category = 

Tools = Hammer

Extends Station = Custom

Custom Extend Station = LumberYard_RS

Max Station Distance = 20

Crafting Station = Custom

Custom Crafting Station = LumberYard_RS

Crafting Costs = rae_CampsiteResources:1:True,Wood:10:True

[Required Extensions]

## Required number of extensions for lumberyard to accept seeds [Synced with Server]
# Setting type: Int32
# Default value: 0
# Acceptable values: 0, 1, 2
Beech = 1

## Required number of extensions for lumberyard to accept seeds [Synced with Server]
# Setting type: Int32
# Default value: 0
# Acceptable values: 0, 1, 2
Birch = 0

## Required number of extensions for lumberyard to accept seeds [Synced with Server]
# Setting type: Int32
# Default value: 0
# Acceptable values: 0, 1, 2
Fir = 0

## Required number of extensions for lumberyard to accept seeds [Synced with Server]
# Setting type: Int32
# Default value: 0
# Acceptable values: 0, 1, 2
Pine = 0

## Required number of extensions for lumberyard to accept seeds [Synced with Server]
# Setting type: Int32
# Default value: 1
# Acceptable values: 0, 1, 2
Ancient = 1

## Required number of extensions for lumberyard to accept seeds [Synced with Server]
# Setting type: Int32
# Default value: 1
# Acceptable values: 0, 1, 2
Oak = 1

## Required number of extensions for lumberyard to accept seeds [Synced with Server]
# Setting type: Int32
# Default value: 2
# Acceptable values: 0, 1, 2
Yggashoot = 2

[Utilities]

## If on, plugin will add all available fuel instead of one at a time [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Add max fuel = On

