## Settings file was created by plugin Soulcatcher v4.5.8
## Plugin GUID: Soulcatcher

[Gems Cost Amount]

DeerGem Cost Amount = 30

NeckGem Cost Amount = 30

BoarGem Cost Amount = 30

GreydwarfGem Cost Amount = 30

GreydwarfBruteGem Cost Amount = 30

GreydwarfShamanGem Cost Amount = 30

TrollGem Cost Amount = 30

SkeletonGem Cost Amount = 30

DraugrGem Cost Amount = 30

BlobGem Cost Amount = 30

LeechGem Cost Amount = 30

WraithGem Cost Amount = 30

AbominationGem Cost Amount = 30

WolfGem Cost Amount = 30

BatGem Cost Amount = 30

FenringGem Cost Amount = 30

CultistGem Cost Amount = 30

UlvGem Cost Amount = 30

StoneGolemGem Cost Amount = 30

HatchlingGem Cost Amount = 30

GoblinGem Cost Amount = 30

DeathsquitoGem Cost Amount = 30

LoxGem Cost Amount = 30

GoblinBruteGem Cost Amount = 30

GoblinShamanGem Cost Amount = 30

TarBlobGem Cost Amount = 30

SurtlingGem Cost Amount = 30

SerpentGem Cost Amount = 30

HareGem Cost Amount = 30

DvergerGem Cost Amount = 30

DvergerGemFireMage Cost Amount = 30

DvergerGemBloodMage Cost Amount = 30

DvergerGemIceMage Cost Amount = 30

TickGem Cost Amount = 30

GjallGem Cost Amount = 30

SeekerGem Cost Amount = 30

SeekerBruteGem Cost Amount = 30

EikthyrGem Cost Amount = 30

ElderGem Cost Amount = 30

BonemassGem Cost Amount = 30

ModerGem Cost Amount = 30

YagluthGem Cost Amount = 30

TheQueenGem Cost Amount = 30

[Gems Craft Time]

DeerGem Craft Time = 600

NeckGem Craft Time = 600

BoarGem Craft Time = 600

GreydwarfGem Craft Time = 600

GreydwarfBruteGem Craft Time = 600

GreydwarfShamanGem Craft Time = 600

TrollGem Craft Time = 600

SkeletonGem Craft Time = 600

DraugrGem Craft Time = 600

BlobGem Craft Time = 600

LeechGem Craft Time = 600

WraithGem Craft Time = 600

AbominationGem Craft Time = 600

WolfGem Craft Time = 600

BatGem Craft Time = 600

FenringGem Craft Time = 600

CultistGem Craft Time = 600

UlvGem Craft Time = 600

StoneGolemGem Craft Time = 600

HatchlingGem Craft Time = 600

GoblinGem Craft Time = 600

DeathsquitoGem Craft Time = 600

LoxGem Craft Time = 600

GoblinBruteGem Craft Time = 600

GoblinShamanGem Craft Time = 600

TarBlobGem Craft Time = 600

SurtlingGem Craft Time = 600

SerpentGem Craft Time = 600

HareGem Craft Time = 600

DvergerGem Craft Time = 600

DvergerGemFireMage Craft Time = 600

DvergerGemBloodMage Craft Time = 600

DvergerGemIceMage Craft Time = 600

TickGem Craft Time = 600

GjallGem Craft Time = 600

SeekerGem Craft Time = 600

SeekerBruteGem Craft Time = 600

EikthyrGem Craft Time = 600

ElderGem Craft Time = 600

BonemassGem Craft Time = 600

ModerGem Craft Time = 600

YagluthGem Craft Time = 600

TheQueenGem Craft Time = 600

[Gems Craftable]

DeerGem Craftable = true

NeckGem Craftable = true

BoarGem Craftable = true

GreydwarfGem Craftable = true

GreydwarfBruteGem Craftable = true

GreydwarfShamanGem Craftable = true

TrollGem Craftable = true

SkeletonGem Craftable = true

DraugrGem Craftable = true

BlobGem Craftable = true

LeechGem Craftable = true

WraithGem Craftable = true

AbominationGem Craftable = true

WolfGem Craftable = true

BatGem Craftable = true

FenringGem Craftable = true

CultistGem Craftable = true

UlvGem Craftable = true

StoneGolemGem Craftable = true

HatchlingGem Craftable = true

GoblinGem Craftable = true

DeathsquitoGem Craftable = true

LoxGem Craftable = true

GoblinBruteGem Craftable = true

GoblinShamanGem Craftable = true

TarBlobGem Craftable = true

SurtlingGem Craftable = true

SerpentGem Craftable = true

HareGem Craftable = true

DvergerGem Craftable = true

DvergerGemFireMage Craftable = true

DvergerGemBloodMage Craftable = true

DvergerGemIceMage Craftable = true

TickGem Craftable = true

GjallGem Craftable = true

SeekerGem Craftable = true

SeekerBruteGem Craftable = true

EikthyrGem Craftable = true

ElderGem Craftable = true

BonemassGem Craftable = true

ModerGem Craftable = true

YagluthGem Craftable = true

TheQueenGem Craftable = true

[Lantern Soul Combination Fee]

Fee = 30

[Soul Necklace]

Crafting Station = Custom

Custom Crafting Station = op_transmution_table

Crafting Station Level = 3

Maximum Crafting Station Level = 3

Require only one resource = Off

Quality Multiplier = 1

Crafting Costs = Coins:1000

Upgrading Costs = Coins:1500

Drops from = 

Weight = 0.1

Trader Value = 0

Trader Selling = None

Trader Price = 0

Trader Stack = 1

Trader Required Global Key = 

[Soul Ring]

Crafting Station = Custom

Custom Crafting Station = op_transmution_table

Crafting Station Level = 3

Maximum Crafting Station Level = 3

Require only one resource = Off

Quality Multiplier = 1

Crafting Costs = Coins:1000

Upgrading Costs = Coins:1500

Drops from = 

Weight = 0.1

Trader Value = 0

Trader Selling = None

Trader Price = 0

Trader Stack = 1

Trader Required Global Key = 

[Souls]

MaxSouls = 500

[Sprites]

## Use cached sprites instead of loading them every time
# Setting type: Boolean
# Default value: true
UseCachedSprites = true

