## Settings file was created by plugin Trash Item v1.0.2
## Plugin GUID: TrashItem

[General]

## Enable the plugin
# Setting type: Boolean
# Default value: true
Status of Enabled = true

## Enable debug mode
# Setting type: Boolean
# Default value: false
Status of Debug = false

## Delete drag item when enabled
# Setting type: Boolean
# Default value: false
Trigger of Item Delete = false

## Hotkey for on and off. Examples: Mouse 0, Mouse 1, Q, C, Shift + Q, Shift + C
# Setting type: KeyboardShortcut
# Default value: Delete
Shortcut of Item Delete = Delete

## Show messages when item are deleted
# Setting type: Boolean
# Default value: true
Status of Show Messages = true

