## Settings file was created by plugin PlanBuild Building Compat v1.0.0
## Plugin GUID: twentyonez.planbuild_building_compat

[1 - General]

## Radius in meters around the totem to award XP to players.
# Setting type: Single
# Default value: 30
Totem XP Radius = 30

## Percentage of normal building XP gained when using a totem (0 to 100).
# Setting type: Single
# Default value: 20
# Acceptable value range: From 0 to 100
Totem XP Gain Percent = 20

