## Settings file was created by plugin AutoFeedRedux v2.0.8
## Plugin GUID: vapok.mods.AutoFeedRedux

[Local Config]

## If enabled, displays the mod overview and links splash screen on game startup. [Not Synced with Server]
# Setting type: Boolean
# Default value: true
Show Splash on Startup = false

## If enabled, sends anonymous mod launch and heartbeat telemetry to help improve mod stability and track active versions. [Not Synced with Server]
# Setting type: Boolean
# Default value: true
Enable Anonymous Telemetry = true

[Log Output Configuration]

## Toggles Log Output
# Setting type: Boolean
# Default value: true
Logging Enabled = true

## Minimum Log Level to Output
# Setting type: LogLevels
# Default value: Warning
# Acceptable values: Debug, Info, Warning, Error, Fatal
Log Level = Warning

[Server-Synced and Enforced Config]

Lock Config = true

[Synced Settings]

## If true, will automatically feed tameables from nearby containers, if food is available. [Synced with Server]
# Setting type: Boolean
# Default value: true
Enable Auto Feeder = true

## Range container must be from tameable to feed from it. [Synced with Server]
# Setting type: Single
# Default value: 30
Feed Range in Meters = 10

## If true, require tameable to move to container to feed. [Synced with Server]
# Setting type: Boolean
# Default value: true
Require Move to Feed = true

## If move is required, distance from container before feeding. [Synced with Server]
# Setting type: Single
# Default value: 2.5
Move Proximity = 5

## Types of feed to not auto feed. Comma-separated [Synced with Server]
# Setting type: String
# Default value: 
Disallow Feed = 

## Types of animals to not auto feed. Comma-separated [Synced with Server]
# Setting type: String
# Default value: 
Disallow Animal = 

## If true, will prevent creatures from damaging containers identified as feed containers [Synced with Server]
# Setting type: Boolean
# Default value: true
Protect Feed Containers = false

