## Settings file was created by plugin Stagger Tuner v1.0.0
## Plugin GUID: vh.staggertuner

[General]

## If enabled, configuration is locked and can only be changed by server administrators. [Synced with Server]
# Setting type: Boolean
# Default value: true
Lock Configuration = true

[Tuning]

## Multiplier for player stagger threshold (acts like a bigger stagger bar). 1.0 = vanilla.
# Setting type: Single
# Default value: 1.6
# Acceptable value range: From 0,5 to 3
StaggerThresholdMultiplier = 1.6

