## Settings file was created by plugin ItemRequiresSkillLevel v1.4.7
## Plugin GUID: WackyMole.ItemRequiresSkillLevel

[General]

## Lock Configuration
# Setting type: Boolean
# Default value: true
Lock Configuration = true

## GenerateListWithAllEquipableItems
# Setting type: Boolean
# Default value: false
GenerateListWithAllEquipableItems = false

## canEquipColor
# Setting type: String
# Default value: green
canEquipColor = green

## cantEquipColor
# Setting type: String
# Default value: red
cantEquipColor = red

## RequiresText
# Setting type: String
# Default value: \nRequires <color={0}>{1} {2}</color>
RequiresText = \nRequires <color={0}>{1} {2}</color>

## Message to display when a player can't equip and item.
# Setting type: String
# Default value: You Can\'t Equip this!
CantEquitMessage = You Can\'t Equip this!

## Message to display when a player can't eat an item.
# Setting type: String
# Default value: You Can\'t Consume this!
CantConsumeMessage = You Can\'t Consume this!

## Message to display when a player can't use an ammo type.
# Setting type: String
# Default value: You Can\'t Use This Ammo
CantUseAmmoMessage = You Can\'t Use This Ammo

## Show Block Messages to Users, Not ServerSynced
# Setting type: Boolean
# Default value: true
ShowBlockMessages = true

